body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  text-align: center;
  padding: 0;
  font-size: 1.9em;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  margin-top: 30px;
  opacity: 0.8;
}

h2 {
  text-align: center;
  padding: 0;
  font-size: 1.9em;
  margin-top: -20px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

h3 {
  text-align: center;
  padding: 0;
  font-size: 1em;
  margin-top: -15px;
  font-weight: 400;
  color: hsl(234, 12%, 34%);
  opacity: 0.5;
}

h4 {
  text-align: left;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: -5px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  opacity: 0.9;
}

h5 {
  text-align: left;
  font-weight: 700;
  font-size: 1em;
  font-weight: 350;
  color: hsl(234, 12%, 34%);
  opacity: 0.9;
}

.card_align ul {
  padding-top: 20px;
  padding-right: 90px;
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  margin-top: 0;
  grid-template: repeat(4, 1fr);
  gap: 50px;
}

.card_teambuilder {
  background-color: white;
  border-top: 5px solid hsl(0, 78%, 62%);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 15px 15px 2px gainsboro;
  max-width: 350px;
  grid-area: 1/2/3/3;
}

.card_supervisor {
  background-color: white;
  border-top: 5px solid hsl(180, 62%, 55%);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 15px 15px 2px gainsboro;
  max-width: 350px;
  grid-area: 2/1/4/2;
}

.card_calculator {
  background-color: white;
  border-top: 5px solid hsl(34, 97%, 64%);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 15px 15px 2px gainsboro;
  max-width: 350px;
  grid-area: 3/2/5/3;
}

.card_karma {
  background-color: white;
  border-top: 5px solid hsl(212, 86%, 64%);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 15px 15px 2px gainsboro;
  max-width: 350px;
  grid-area: 2/3/4/5;
}

.card_text {
  font-size: 0.9em;
}

img {
  margin-left: 240px;
}
